@model CarManufactoring.Models.TurnoColaboradores

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TurnoColaboradores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TurnoColaboradoresId" />
            <div class="form-group">
                <label asp-for="horas_turno" class="control-label"></label>
                <input asp-for="horas_turno" class="form-control" />
                <span asp-validation-for="horas_turno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataInicio" class="control-label"></label>
                <input asp-for="dataInicio" class="form-control" />
                <span asp-validation-for="dataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataFim" class="control-label"></label>
                <input asp-for="dataFim" class="form-control" />
                <span asp-validation-for="dataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="turnoEstado" class="control-label"></label>
                <input asp-for="turnoEstado" class="form-control" />
                <span asp-validation-for="turnoEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
