@model CarManufactoring.Models.Section

@{
    ViewData["Title"] = "Delete Section";
}

<h1>@ViewBag.title</h1>

<h3>Are you sure you want to delete this Section?</h3>


<form asp-action="Delete">
    <input type="hidden" asp-for="SectionId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

