@model CarManufactoring.Models.AttendedHours

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AttendedHours</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkerName" class="control-label"></label>
                <input asp-for="WorkerName" class="form-control" />
                <span asp-validation-for="WorkerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkedHour" class="control-label"></label>
                <input asp-for="WorkedHour" class="form-control" />
                <span asp-validation-for="WorkedHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedIn" class="control-label"></label>
                <input asp-for="CheckedIn" class="form-control" />
                <span asp-validation-for="CheckedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedOut" class="control-label"></label>
                <input asp-for="CheckedOut" class="form-control" />
                <span asp-validation-for="CheckedOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="workingStatus" class="control-label"></label>
                <input asp-for="workingStatus" class="form-control" />
                <span asp-validation-for="workingStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAttended" /> @Html.DisplayNameFor(model => model.IsAttended)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
