@model CarManufactoring.Models.Breakdown

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Breakdown</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BreakdownId" />
            <div class="form-group">
                <label asp-for="BreakdownName" class="control-label"></label>
                <input asp-for="BreakdownName" class="form-control" />
                <span asp-validation-for="BreakdownName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreakdownDate" class="control-label"></label>
                <input asp-for="BreakdownDate" class="form-control" />
                <span asp-validation-for="BreakdownDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreakdownNumber" class="control-label"></label>
                <input asp-for="BreakdownNumber" class="form-control" />
                <span asp-validation-for="BreakdownNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReparationDate" class="control-label"></label>
                <input asp-for="ReparationDate" class="form-control" />
                <span asp-validation-for="ReparationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineStop" class="control-label"></label>
                <input asp-for="MachineStop" class="form-control" />
                <span asp-validation-for="MachineStop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineReplacement" class="control-label"></label>
                <select asp-for="MachineReplacement" class="form-control" asp-items="Html.GetEnumSelectList<MachineReplacement>()">
                     <option value="">-- Select Option --</option>
                </select>
                <span asp-validation-for="MachineReplacement" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RepairInTheCompany" /> @Html.DisplayNameFor(model => model.RepairInTheCompany)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
