@{
    ViewData["Title"] = "Ana Vidal Information";
}

<h1>@ViewData["Title"]</h1>
<img class="img-fluid" src="/documents/Group6/AnaVidal/AnaVidal.JPEG" width="100" height="200" />
<p>student number: 1704182</p>
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Details Group 6</div>
      Added the Group6 folder, with another AnaVidal folder, where they contain 
      the images of the different diagrams created in Software Engineering 2.
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Views to see the information</div>
      Added two views anavidaldetails and Group6Details to see the information 
      added in the above mentioned folders.
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Adicionar o Url da Imagem, recortar a imagem para o tamanho 400 x 600</div>
      ...
    </div>
  </li>
</ol>
