@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jucimar Cabral da Costa Details";
}

<h1>@ViewData["Title"]</h1>

<h3>Group 4</h3>
<p>Student Number: 1012639</p>