@{
    ViewData["Title"] = "Telmo Morais Information";
}

<h1>@ViewData["Title"]</h1>

<h3>Number: 1704003</h3>

<p><img class="img-fluid" src="~/img/students/1704003.jpg" width="75" height="150" /></p>

<h2>O que fiz:</h2>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Detalhes Groupo 9</div>
                Criada a pagina de informação do grupo 9.
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Lista de alunos atualizada</div>
                Adicionado o aluno Telmo Morais à lista de alunos.
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Detalhes Telmo Morais</div>
                Criada página de informação do aluno Telmo Morais.
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Detalhes Telmo Morais</div>
                Atualizada página de informação do aluno Telmo Morais.
            </div>
        </li>
    </ol>

<br />
<h2>O que vou fazer:</h2>
<ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Detalhes Groupo 9</div>
                Redimensionar as imagens da documentação do grupo 9.
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Nova Tabela</div>
                Criar tabela de inspeções e testes.
            </div>
        </li>
        
    </ol>