@{
    ViewData["Title"] = "Telmo Morais Information";
}

<h1>@ViewData["Title"]</h1>

<h3>Number: 1704003</h3>

<p><img class="img-fluid" src="~/img/students/1704003.jpg" width="75" height="150" /></p>

<h2>O que fiz:</h2>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Detalhes Groupo 9</div>
                Criada a pagina de informação do grupo 9.
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Lista de alunos atualizada</div>
                Adicionado o aluno Telmo Morais à lista de alunos.
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Detalhes Telmo Morais</div>
                Criada página de informação do aluno Telmo Morais.
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Detalhes Telmo Morais</div>
                Atualizada página de informação do aluno Telmo Morais.
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Detalhes Groupo 9</div>
                Redimensionar as imagens da documentação do grupo 9.<br />
                Data:25/11/2022
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Modelo inspeções e testes</div>
                Criado o modelo de inspeções e testes.<br />
                Data:02/12/2022
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Seed data inspeções e testes</div>
                Adicionados dados ficticios na tabela de inspeções e testes.<br />
                Data:09/12/2022
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Erros</div>
                Correção de erros.<br />
                Data:12/12/2022
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Modelo inspeções e testes</div>
                Adicionadas chaves estrangeiras na tabela de inspeções e testes.<br />
                Data:14/12/2022
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Migrações</div>
                Eliminadas as migrações e criada uma nova. (Corrigido erro ModelParts PecaId).<br />
                Data:14/12/2022
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Modelo inspeções e testes</div>
                Alterada chave estrangeira Reference para SemiFinhed.<br />
                Data:15/12/2022
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Seed data inspeções e testes</div>
                Erro nos dados ficticios do inspection and test corrigido.<br />
                Data:15/12/2022
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Inspeções e testes</div>
                Criada tabela intermédia entre a tabela de produções e a tabela de testes e feito o respetivo scaffolding.<br />
                Data:29/12/2022
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Inspeções e testes</div>
                Criada tabela intermédia entre a tabela de produções e a tabela de testes e feito o respetivo scaffolding.<br />
                Data:29/12/2022
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Inspeções e testes</div>
                Prenvent delete Cascade da tabela InspectionsTestsProduction.<br />
                Data:29/12/2022
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Inspeções e testes</div>
                Criado modelo do estado do teste.<br />
                Data:03/01/2023
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Inspeções e testes</div>
                Feito scaffolding da tabela de estado do teste e respectiva migração.<br />
                Data:03/01/2023
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Inspeções e testes</div>
                Criado SeedData da tabela de estados dos testes.<br />
                Data:03/01/2023
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Inspeções e testes</div>
                Atualizado modelo de inspeções e testes.<br />
                Data:03/01/2023
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Inspeções e testes</div>
                Corrigido erro na chave estrangeira.<br />
                Data:03/01/2023
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Detalhes Telmo Morais</div>
                Atualizada página de informação do aluno Telmo Morais.<br />
                Data:04/01/2023
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Inspeções e testes</div>
                Atualizadas as views das Inspeções e testes<br />
                Data:04/01/2023
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Inspeções e testes</div>
                Criada a paginação e pesquisa na página de inspeções e testes.<br />
                Data:05/01/2023
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Inspeções e testes</div>
                SeedData atualizado.<br />
                Data:05/01/2023
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Inspeções e testes</div>
                Criada mensagem de sucesso ao eliminar um teste.<br />
                Data:05/01/2023
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">SeedData</div>
                Adicionado PopulateInspectionTestState pois tinha sido apagado do seed data.<br />
                Data:06/01/2023
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">SeedData</div>
                Alterações nas views e no SeedData das isnpeções e testes.<br />
                Data:08/01/2023
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Detalhes Telmo Morais</div>
                Atualizada página de informação do aluno Telmo Morais.<br />
                Data:08/01/2023
            </div>
        </li>
    </ol>

<br />
<h2>O que vou fazer:</h2>
<ol class="list-group list-group-numbered">
        
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Inspeções e testes</div>
                Melhorar a página de Inspeções e testes.
            </div>
        </li>        
    </ol>