@{
    ViewData["Title"] = "Bruno Martins";
}

<div class="container mb-5">
    <div class="row justify-content-end">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
            <h3>Numero: 1704756</h3>
        </div>
        <div class="col">
            <img class="rounded float-end border border-primary" src="~/img/students/1704756.jpg" width="150" height="150" />
        </div>
    </div>
</div>

<div class="card mb-3 border border-danger">
    <div class="card-body">
        <h5 class="card-title">O que estou a fazer</h5>
        <p class="card-text"> 
        Atualizar Diagrama de Classes;<br/>
        A criar view de estudante e atualizar foto no tamanho de 400x400 pixels;
        </p>
    </div>
</div>


<div class="card border border-warning">
    <div class="card-body">
        <h5 class="card-title">O que vou fazer</h5>
        <p class="card-text">Criar Histórias de utilizador e listar os critérios de aceitação;</p>
    </div>
</div>

