@using CarManufactoring.ViewModels.Group1;
@model IEnumerable<Documents>
@{
    ViewData["Title"] = "Diogo Neto Details";
}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1>
                @ViewBag.Title
            </h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="/documents/grupo1/Diogo_Neto/Foto.jpg" />
        </div>
        <div class="col-6">
            <h3>Trabalho a Realizar</h3>
            <ul class="nav">
                <li class="nav-item">
                    Criar Modelo e Scafold da tabela "Secção"
                </li>
            </ul>
            <hr />
            <h3>Trabalho Realizado</h3>
            <ul class="nav">
                <li class="nav-item">
                    <ul class="list-group">
                        <li class="list-item">
                            Perfil atualizado (Mais ficheiros e informações) - 30/11/2022
                        </li>
                        <li class="list-item">
                            Criado Histórias de Utilizador ("Colaborador") - 25/11/2022
                        </li>
                        <li class="list-item">
                            Criado a semântica de uma classe ("Máquina") - 22/11/2022
                        </li>
                        <li class="list-item">
                            Criado o meu Perfil - 16/11/2022
                        </li>
                        <li class="list-item">
                            Criado o diagrama de classes/estados/Caso de uso para o grupo - 15/11/2022
                        </li>
                        <li class="list-item">
                            Atualização e correção dos diagramas de Sequência/Classe/Caso de uso - 11/11/2022
                        </li>
                        <li class="list-item">
                            Diagrama de Sequência - 04/11/2022
                        </li>
                        <li class="list-item">
                            Diagrama de Classes - 04/11/2022
                        </li>
                        <li class="list-item">
                            Diagrama de Caso de Uso - 04/11/2022
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Formato</th>
                    <th scope="col">Documento</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Documents d in Model)
                {

                    <tr>
                        <td scope="col">
                            <img class="img-fluid pdf-img" src="/documents/grupo1/img/pdf_logo.png">
                        </td>
                        <td scope="col">@d.Name</td>
                        <td>
                            <a href="@d.DocPath" target="_blank">
                                <img class="img-fluid " src="/documents/grupo1/img/download.png">
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>