@{
    ViewData["Title"] = "Ricardo Andrade";
}

<h1>@ViewBag.Title</h1>
<hr />
@*
    TODO: Turn these into an ul list
*@
<div>
    <div class="m-3">
        <h3>O que estou a fazer</h3>
        <p>
            Atualizar diagrama de class e caso de Uso<br />
            Descrição de caso de uso relativo a estado<br />
        </p>
       
    </div>
    <div class="m-3">
        <h3>O que falta fazer</h3>
        <p> [Atualizar com o que falta]</p>
    </div>

    <div class="m-3">
        <h3>O que foi feito</h3>
        <p>
            Diagrama de Atividade<br />
            Diagrama de Caso de Uso<br />
            Atualizar diagrama de Atividade<br />
            Diagrama de sequência de Pesquisa<br />
            Tabela de funcionalidades<br />
            Diagrama de classes<br />
            Descrição de Caso de Usos de pesquisa<br />

        </p>

    </div>


</div>
