@{
    ViewData["Title"] = "Leonardo Carriço Marques";
}

<h1 align="center">@ViewData["Title"]</h1>

<br>
<hr />

<p><img align="right" class="rounded-3" src="~/img/students/1704008.jpg" width="400" height="400" /></p>

<ul class="list-inline-item" style="list-style-type:square">
    <li>Number: 1704008</li>
    <li>Group: 7</li>
</ul>

<hr/>

<h4>O que estou a fazer:</h4>
<ul>
    <li>
        <p>
            Organização da pagina de estudante.
        </p>
    </li>
</ul>

<h4>O que já foi feito:</h4>
<p></p>