@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Pedro Matos Details";
}

<h1>
    @ViewData["Title"]
</h1>
<td>
    <img src="~/img/students/@(1700789).jpg" width="150px" class="rounded-circle" alt="Photo of Pedro Matos" />
</td>
<h3>Group 5</h3>
<h4>Student Number: 1700789</h4>

<div class="card border-success mb-3" style="max-width: 30rem; text-align:center ">
    <div class="card-header text-success"><h5 class="card-title">What I Have Done</h5></div>
    <div class="card-body">
       <ul>
            <li> <p class="card-text">Added Student Page with Information</p></li>
            <li><p class="card-text">Created Production Class and Scaffolding </p></li>
            <li><p class="card-text">Created SalesLine Class (for Group3) </p></li>
            <li> <p class="card-text">Populated table Production</p></li>
        </ul>
    </div>
       
</div>

<div class="card border-warning mb-3" style="max-width: 30rem; text-align:center">
    <div class="card-header text-warning"><h5 class="card-title">What I'm going to do</h5></div>
    <div class="card-body">
        <ul>
            <li><p class="card-text">Create search bar in Production Index</p></li>
        </ul>
    </div>
</div>
