@{
	ViewData["Title"] = "Fabio Abreu Details";
}

<h1>@ViewData["Title"]</h1>

<h3>Number: 1704154</h3>

<p><img class="img-fluid" src="/documents/Group9/FabioAbreu/fabio_abreu.png" width="70" height="70" /></p>

<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <h6>17/11/2022</h6>
            <p>Adicionado user</p>
        </div>
    </li>

    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <h6>18/11/2022</h6>
            <p>Alterar foto</p>
            <p>Alterar nome da pagina detail</p>
        </div>
    </li>

    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <h6>24/11/2022</h6>
            <p>Adicionar os diagramas de classe, atividades e casos de uso</p>
            <p>Redimensionar imagem</p>
        </div>
    </li>

    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <h6>25/11/2022</h6>
            <p>Criar a tabela semi-acabados</p>
            <p>Adicionar dados (Seed Data)</p>
        </div>
    </li>
</ol>