@using CarManufactoring.ViewModels.Group1;
@using CarManufactoring.ViewModels.Group3;
@model IEnumerable<Documents>
@{
    ViewData["Title"] = "Luis Barros";
}

<style>
    .Scroll{
        overflow-y:scroll;
        height: 160px;
        width : 100%;
    }
    .tablee{
        width: 65%;
    }
</style>



<h1><img align="right"  class="rounded-circle" src="/img/students/1700331.jpg" >@ViewData["Title"]</h1>
<h2>Group 3</h2>
<h3>Number: 1700331</h3>
<a class="btn btn-secondary " asp-controller="Groups" asp-action="Details" asp-route-number="3">Group Info & Documentation</a>


<hr>
<h4>What I'm going to do:</h4>
<table class="table tablee" >
    <tr>
        <th>Task</th>
        <th>Priority</th>
    </tr>
    <tr>
        <td>Interfaces related to Car, CarConfig and Brand Classes</td>
        <td class="text-danger">High</td>
    </tr>
    <tr>
        <td>(In Group) Update group documentation and page</td>
        <td class="text-warning">Low</td>
    </tr>
    <tr>
        <td>Review personal documentation and page</td>
        <td class="text-warning">Low</td>
    </tr>
</table>
<hr />

<h4> What I'm doing:</h4>
<ul>
    <li>Interfaces related to Car, CarConfig and Brand Classes, specifically adding search, paging on index view and notifications when Creating and Deleting data for those classes </li>
</ul>
<hr />
<h4>What I've done so far: </h4>
<ul class="Scroll">
    <li>15/12 : Pop-ups when creating and deleting Car implemented (Layout slightly modified)</li>
    <li>14/12 : Solved problems related to populate Inspections and Testing on SeedData file (Program not running)</li>
    <li>13/12 : Solved problems related to ModelParts Module (Program not running) </li>
    <li>12/12 : Search and paging for car index page</li>
    <li>09/12 : SeedData for Car, CarConfig and Brand Classes done </li>
    <li>09/12 : Updated personal files and personal page</li>
    <li>09/12 : When creating car , the year launch is predefined as the system's year</li>
    <li>09/12 : Relations between those classes done </li>
    <li>09/12 : Brand , Car and CarConfig CRUD working perfectly </li>
    <li>09/12: Solved problems related to migrations (all migrations in one single file) </li>
    <li> 27/11: Relation between classes Car and Car Configuration, Scaffolgind, Add Migration and DB Update </li>
    <li>26/11: Migration and DB Updated </li>
    <li>25/11:Scaffolding for Car and Configuration Classes</li>
    <li>8/11 to 24/11:  Group and personal view with documentation with links implemented, uploaded documents and personal photo</li>
</ul>

<hr />

<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Format</th>
            <th scope="col">Document</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            @foreach(Documents d in Model)
            {
                <tr>
                    <td scope="col">
                        <img class="img-fluid pdf-img" src="/documents/grupo1/img/pdf_logo.png">
                    </td>
                    <td scope="col">@d.Name</td>
                    <td>
                        <a href="@d.DocPath" target="_blank">
                            <img class="img-fluid" src="/documents/grupo1/img/download.png">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />
