@{
	ViewData["Title"] = "Ricardo Sousa Details";
}

<h1>@ViewData["Title"]</h1>

<h2>Tarefas de Ricardo Sousa</h2>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                To Do
            </th>
            <th>
                Doing
            </th>
            <th>
                Done
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul class="list-group">
                    <li class="list-group-item">Criar classe produção</li>
                    <li class="list-group-item">Update group5 details</li>
                </ul>
            </td>
            <td>
                <ul class="list-group">
                    <li class="list-group-item">Group details (updated)</li>
                </ul>
            </td>
            <td>
                <ul class="list-group">
                    <li class="list-group-item">Student details (updated)</li>
                    <li class="list-group-item">Group details</li>
                    <li class="list-group-item">Student details</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

