@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jucimar Cabral da Costa Details";
}

<h1>@ViewData["Title"]</h1>

<h3>Group 4</h3>
<p>Student Number: 1012639</p>

<ul class="list-group list-group-numbered">

    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">What I´m doing</div>
            <ul>
                <li> Update Diagrams <li/>               

            </ul>


        </div>
    </li>

    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">What I´m going to do</div>
             <ul>
                <li> Procurar Fornecedores <li/>               

            </ul>
        </div>


</ul>
