@{
    ViewData["Title"] = "Ana Vidal Information";
}

<h1>@ViewData["Title"]</h1>
<img class="img-fluid" src="~/img/students/1705182.jpg" width="100" height="200" />
<p>student number: 1705182</p>
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">What I'am Doing'</div>
      -Alterar as views da pasta TurnosColaboradores.(25/11/2022)
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">What I'am Going To Do'</div>
      -Atualizar Diagramas. (26/11/2022)
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Already Done</div>
           <p>
                -Created Scanfolding for the class TurnosColaboradores. (25/11/2022)
                -Created class TurnosColaboradores. (25/11/2022)
            </p>
           <p>
                -Correction of my student number. (24/11/2022)
                -Alterado o formato da imagem para JPG. (24/11/2022)
                -Adicionado Butão na View Details1705182. (24/11/2022)
            </p>
      
            <p>
                Deleted repeated Group6 folder. (18/11/2022)
            </p>
      
             <p>
                Updated view information details. (17//11/2022)
            </p>

            <p>
                - Added the Group6 folder, with another AnaVidal folder, where they contain
                the images of the different diagrams created in Software Engineering 2.(17//11/2022)
            </p>
            <p>
                - Added two views anavidaldetails and Group6Details to see the information
                added in the above mentioned folders.(17/11/2022)
            </p>

            <p>
                - Adicionar o Url da Imagem, recortar a imagem para o tamanho 400 x 600(17/11/2022)
            </p>
      
    </div>
  </li>
</ol>
<br />
    <a asp-controller="Groups" asp-action="Details" asp-route-number = "6" class="btn btn-info">Groupe Information</a>

