@{
	ViewData["Title"] = "Fabio Abreu Details";
}

<h1>@ViewData["Title"]</h1>

<h3>Number: 1704154</h3>

<p><img class="img-fluid" src="/documents/Group9/FabioAbreu/fabio_abreu.png" width="70" height="70" /></p>

<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Updated students list</div>
            Added student Fabio Abreu to students list.
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Details Fabio Abreu</div>
            Created Fabio Abreu page info and created a folder called Group9 inside folder documents, with another two folders.
        </div>
    </li>
</ol>