@using CarManufactoring.ViewModels.Group1;
@using CarManufactoring.ViewModels.Group3;
@model IEnumerable<Documents>
@{
    ViewData["Title"] = "Luis Barros";
}



<h1><img align="right"  class="rounded-circle" src="/img/students/1700331.jpg" >@ViewData["Title"]</h1>
<h2>Group 3</h2>
<h3>Number : 1700331</h3>


<hr>
<h4>What I'm going to do:</h4><p>DB Update and Migration </p>

<h4> What I'm doing:</h4><p>25/11:Scaffolding for Car and Configuration Classes</p>


<h4>What I've done so far: </h4><p>8/11 to 24/11:  Group and personal view with documentation with links implemented, uploaded documents and personal photo </p>
<hr />

<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Format</th>
            <th scope="col">Document</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            @foreach(Documents d in Model)
            {
                <tr>
                    <td scope="col">
                        <img class="img-fluid pdf-img" src="/documents/grupo1/img/pdf_logo.png">
                    </td>
                    <td scope="col">@d.Name</td>
                    <td>
                        <a href="@d.DocPath" target="_blank">
                            <img class="img-fluid" src="/documents/grupo1/img/download.png">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />

    <a class="btn btn-secondary" asp-controller="Groups" asp-action="Details" asp-route-number="3">Group Info</a>