@{
    ViewData["Title"] = "Ricardo Andrade";
}

<h1>@ViewBag.Title</h1>
<hr />

<div>
    <div class="m-3">
        <h3>O que estou a fazer</h3>
       <ul>
           <li>29/11 Métrica de software: Adicionar tamanho(tempo estimado de desenvolvimento) ao caso de usuo "Atualizar estado de stock"</li>
           <li>29/11-1/12 Diagrama de Pacotes de classes</li>
       </ul>
       
    </div>
    <div class="m-3">
        <h3>O que falta fazer</h3>
        <ul>
            
        </ul>
    </div>

    <div class="m-3">
        <h3>O que foi feito</h3>
        <ul>
            <li>25/10 Diagrama de Atividade</li>
            <li>28/10 Tabela de funcionalidades</li>
            <li>3/11 Diagrama de Caso de Uso</li>
            <li>4/11 Diagrama de sequência de Pesquisa</li>
            <li>10/11 Diagrama de classes</li>
            <li>11/11 Atualizar diagrama de Atividade</li>
            <li>15/11 Diagrama de classes</li>
            <li>18/11 Descrição de Caso de Usos de pesquisa</li>
            <li>22/11 Atualização do Caso de Uso com casos para atualizar o estado do stock</li>
            <li>22/11 Atualizar o diagrama de classes 22/11</li>
            <li>22/11 Semântica de Classes: Atualizar estado do stock</li>
            <li>25/11 Decidir a divisão das classes entre os membros do grupo</li>
            <li>25/11 Histórias de Utilizador para cada caso de uso</li>
            <li>25/11 - 27/11 Criar classe Pai Produto  e classe filho peças  </li>
        </ul>

    </div>


</div>
