@{
    
    ViewData["Title"] = "Guilherme Alves Details";
}

<h1><img align="right" class="img" src="~/img/students/1701480.jpg" width="100" height="100" \>@ViewData["Title"]</h1>
<h2>Group 3</h2>


<hr>

<h4> What I'm doing:</h4>
<p>Atualizaçao  dos ficheiros individuais de ES2 e da informaçao pessoal </p>

<h4>What I'm going to do:</h4>

<p>Criaçao das classes relacionadas com a encomenda:
<p>-Encomenda</p>
<p>-Cliente</p>
<p>-Linha de Venda</p>

<hr />

<a class="btn btn-info">Personal documentation</a>

<a class="btn btn-secondary" asp-controller="Groups" asp-action="Group3Details">Group Info</a>