@using CarManufactoring.ViewModels.Group1;

@{
    
	ViewData["Title"] = "Rui Condesso ";
    
}

<h1><img align="right" class="rounded-3" src="/img/students/1701429.jpg">@ViewData["Title"]</h1>
<h4> <a asp-controller="Groups" asp-action="Details" asp-route-number="5" class="btn btn-info">Groupe 4 </a></h4>
<h4>Number : 1701429</h4>

<hr></hr>

<h1>-Tasks</h1>

<h5>Tables</h5>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">LocalizationCar</label>
</div>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">StockFinalProducts</label>
</div>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Update Table Car</label>
</div>

<hr></hr>

<h5>Scaffolding</h5>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">LocalizationCar</label>
</div>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">StockFinalProducts</label>
</div>

<h5>Pagination</h5>
<hr></hr>


<h5>SeedData</h5>


<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">LocalizationCar</label>
</div>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">StockFinalProducts</label>
</div>

@* // check
 <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
</div>*@

@*uncheck 
<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
</div>*@