@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Osman Can Ofraz";
}

<h1><img align="right" width="200" height="200" class="rounded-circle" src="/img/students/1707785.jpg">@ViewData["Title"]</h1>
<h2>Group 10</h2>
<h3>Number : 1707785</h3>


<hr>
<h4>What I'm going to do:</h4><p>DB Update and Migration </p>

<h4> What I'm doing:</h4><p>25/11:Scaffolding for Car and Configuration Classes</p>


<h4>What I've done so far: </h4><p>8/11 to 24/11:  Group and personal view with documentation with links implemented, uploaded documents and personal photo </p>
<hr />

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Format</th>
                <th scope="col">Document</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
          
            
               
        </tbody>
    </table>
</div>

<hr />


