@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Pedro Matos Details";
}

<h1>@ViewData["Title"]</h1>

<h3>Group 5</h3>
<p>Student Number: 1700789</p>
