@{
    ViewData["Title"] = "Kevin Alves Details";
}

<h1>@ViewData["Title"]</h1>

<h3>Number: 1704033</h3>

<p><img class="img-fluid" src="\img\students\1704033.jpg" width="100" height="100" /></p>



<h3>Feito:</h3>
<h5>Ciração da view estudante</h5>
<h5>Ciração da view de grupo</h5>
<h5>Atualização da view de estudante</h5>
<h5>Atualização da view de grupo</h5>
<h5>Adição a lista de alunos o estudante Kevin Alves</h5>
<h5>Adição de imagem de estudante</h5>
<h5>Adição das imagens de grupo</h5>
<h5>Redimentionamento da imagem do estudante</h5>
<h5>Resolução de um bug do botão de commit desativado e de Amend Impossivel</h5>

<h3>What I need to do:</h3>
<h5>Criar tabela intermedia da ligação entre 'Semiacabado' e 'Materia'</h5>
<h5>Atualizar as imagens da pagina de grupo</h5>
<h5>Adição de um botão para aceder à pagina de grupo a partir da pagina do estudante</h5>