@model IEnumerable<Group>

@{
    ViewData["Title"] = "Paulo Proenca";
}
<link rel="stylesheet" href="~/css/Group1.css" asp-append-version="true" />
<h1>@ViewBag.Title</h1>


<div class="container pt-5">
    <div class="row">
        <div class="col">
            <div class="row w-50 rounded-3">
                <img alt="Paulo Proença Photo" src="~/img/students/1704890.jpg" />
            </div>

            <div class="row">
                <div class="pt-5">
                    <div class="diagramMenu down pt-5 text-decoration-underline">
                        <h4>Personal Docs List: </h4>

                        <div class="d-flex justify-content-between">
                            <ul class="list">
                                <li class=" list-unstyled text-decoration-underline">
                                    <a href="~/documents/grupo1/Paulo_Proenca/Diagrama de Estados.pdf" class="personalList">Diagrama de Estados</a>
                                </li>
                                <li class=" list-unstyled text-decoration-underline">
                                    <a href="~/documents/grupo1/Paulo_Proenca/Diagrama_sequencia_projeto- atualizado.pdf" class="personalList">Diagrama de Sequência</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="row">
                <h5>What have i done: </h5>
                <p> 1. Added my personal information to students page - 15 November </p>
                <p> 2. Altered image size and corret group information - 17 November</p>
                <p> 3. Uploaded Classes Diagram of group 1 to the view Group1Details - 17 November</p>
                <p> 4. Added some personal information and rectify group details view - 17 November</p>
                <p> 5. Changed photo name - 24 November</p>
                <p> 6. Changed name of details Page - 24 November</p>
                <p> 7. Changed photo size - 24 November</p>
                <p> 8. Modified details page - 24 November</p>
                <p> 9. Modified personal details layout - 24 November</p>
                <p> 10. Updated what have i done info  - 25 November</p>
                <p> 11. Updated what i´m doing and what i´m going to do info  - 25 November</p>

            </div>
            <div class="row">
                <h5>What i'm doing: </h5>
                <p> 1. Updating personal details</p>
                <p> 2. Create Class Machines</p>
            </div>
            <div class="row">
                <h5>What i'm going to do: </h5>
                <p> 1. Create Class Work_Maint_Machine </p>
                <p> 2. Create Class Work_Collaborator</p>
            </div>
        </div>
    </div>
</div>