@{
    ViewData["Title"] = "My personal page";
}

<h1><img align="right" class="img" src="/img/students/1704473.jpg" width="7%" height="7%">João Aleixo</h1>
<h3>Group 6</h3>
<p>Student Number: 1704473</p>
<hr/>
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">What I´m doing</div>
        - Updating all the diagrams <br/>
        
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">What I´m going to do</div>
        - Adding details on my Student page;<br/> 
        - Changing the layout of diagrams display;<br/> 
        - Adding a class.<br/> 
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Already done </div>
       - Created group and personal page;<br/>
       - Upload Student photo and resized it;<br/>
       - Upload Class Diagram ;<br/>
       - Upload Sequencial Diagram ;<br/>
       - Changed photo and Details view name to my Student number;<br/>
       - Upload Updated Class Diagram;<br/>
       - Upload Updated Use Case Diagram;<br/>
       - Upload State Diagram;<br/>
       - Changed photo size. <br/>

    </div>
  </li>
</ol>

<br />
<a class="btn btn-secondary" asp-controller="Groups" asp-action="Details6" >Group Info</a>