@{
    ViewData["Title"] = "Kevin Alves Details";
}

<h1>@ViewData["Title"]</h1>

<h3>Number: 1704033</h3>

<p><img class="img-fluid" src="~\documents\Grupo7\Kevin\TEMP.png" width="80" height="80" /></p>

<h3>What I'm doing:</h3>
<h4>...</h4>

<h3>What I'm going to do:</h3>
<h4>Remplace the temp image for profile picture</h4>