@{
    ViewData["Title"] = "Ricardo Sousa Details";
}

<h1>@ViewData["Title"]</h1>

<h2>Tarefas de Ricardo Sousa</h2>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                To Do
            </th>
            <th>
                Doing
            </th>
            <th>
                Done
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul class="list-group">
                    <li class="list-group-item">Algoritmo para número de chassi</li>
                    <li class="list-group-item">Algoritmo para tempo de produção com base no stock, machine inspection e tempo de produção</li>
                </ul>
            </td>
            <td>
                <ul class="list-group">
                    <li class="list-group-item"></li>
                </ul>
            </td>
            <td>
                <ul class="list-group">
                    <li class="list-group-item">Classe da relação modelos(carros)/peças</li>
                    <li class="list-group-item">Group details (updated)</li>
                    <li class="list-group-item">Student details (updated)</li>
                    <li class="list-group-item">Group details</li>
                    <li class="list-group-item">Student details</li>
                    <li class="list-group-item">Resolver problema com outro grupo de haver 2 tabelas que embora possuam colunas diferentes, ambas as tabelas tem a mesma função.</li>
                    <li class="list-group-item">Criar classe da relação modelos (Carros)/Peças.</li>
                    <li class="list-group-item">Update classe ModelParts</li>
                    <li class="list-group-item">Scaffolding ModelParts</li>
                    <li class="list-group-item">Criar classe TimeOfProduction</li>
                    <li class="list-group-item">Popular a tabela de ModelParts</li>
                    <li class="list-group-item">Search sem ter de usar o botão de clear</li>
                    <li class="list-group-item">Inserir na tabela ModelParts</li>
                    <li class="list-group-item">Ver detalhes de dados da tabela ModelParts</li>
                    <li class="list-group-item">Update a dados da tabela ModelParts</li>
                    <li class="list-group-item">Delete de dados da tabela ModelParts</li>

                </ul>
            </td>
        </tr>
    </tbody>
</table>
