@using CarManufactoring.ViewModels.Group1;
@using CarManufactoring.ViewModels.Group3;
@model IEnumerable<Documents>
@{
    ViewData["Title"] = "Rodrigo Lourenço";
}


<h1><img align="right" class="rounded-circle" src="/img/students/1700254.jpg">@ViewData["Title"]</h1>
<h2>Group 3</h2>
<h3>Number : 1700254</h3>


<h4> What I'm doing:</h4>
<ul class="Scroll">
    <li></li>
</ul>

<h4>What I'm going to do:</h4>
<ul class="Scroll">
    <li>Extra Class </li>
    <li>Sales Line Class </li>
    <li>List Config Class</li>
</ul>

<h4>What I've done so far: </h4>
<ul class="Scroll">
    <li>Scaffolding for Extra Class. </li>
    <li>Migration and DB Updated. </li>
    <li>Scaffolding for Sales Line Class.  </li>
    <li>Migration and DB Updated. </li>
    <li>Create model Extra. </li>
    <li>Add Migration and Update DataBase for Extra. </li>
    <li>Create Relation Between CarConfig and Extra (N:N). </li>
    <li>Added Seed Data for Extra. </li>
    <li>Added search and paging to Extra. </li>
    <li>Added search and paging to Sales Line. </li>
    <li>Notifications for extra when user creates or deletes.</li>
    <li>Notifications for sales line when user creates or deletes.</li>
    <li>Insert orders button due to an error of not being able to put the name of the order in the text box.</li>
    <li>Update Roles on Extra Class.</li>
    <li>Update Roles on Sales Line Class.</li>
    <li>Extras and Sales Line not found Implemented.</li>
</ul>

<a class="btn btn-secondary" asp-controller="Groups" asp-action="Details" asp-route-number="3">Group Info</a>