@{
    ViewData["Title"] = "Kevin Alves Details";
}

<h1>@ViewData["Title"]</h1>

<h3>Number: 1704033</h3>

<p><img class="img-fluid" src="~\documents\Grupo7\Kevin\TEMP.png" width="80" height="80" /></p>

<h3>TODO:</h3>
<h4>Arranjar a view de estudante</h4>
<h4>Arranjar a view de grupo</h4>
<h4>Criacao de classes</h4>
<h4>Mudar a imagem de perfil para uma com bom redimencionamento</h4>