@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Juan de Almeida Silva Details";
}

<h1>@ViewData["Title"]</h1>

div>
<div class="m-3">
    <h3>O que estou a fazer</h3>
    <p>
        Atualizar diagrama de class e caso de Uso<br />
        Descrição de caso de uso relativo a estado<br />
    </p>

</div>
<div class="m-3">
    <h3>O que falta fazer</h3>
    <p> [Atualizar com o que falta] MERGE</p>
</div>

<div class="m-3">
    <h3>O que foi feito</h3>
    <p>
        Diagrama de Atividade<br />
        Diagrama de Caso de Uso<br />
        Atualizar diagrama de Atividade<br />
        Diagrama de sequência<br />
        Tabela de funcionalidades<br />
        Diagrama de classes<br />

    </p>

</div>


</div>