@{
    ViewData["Title"] = "My personal page";
}

<style>
    .overF{
        overflow-y: scroll;
        width:142%;
        height: 100px;

    }
</style>

<h1><img align="right" class="rounded-circle" src="/img/students/1704473.jpg" width="12%" height="12%">João Aleixo</h1>
<h3>Group 6</h3>
<p>Student Number: 1704473</p>
<hr/>
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">What I´m doing</div>
            - Implement notification; (13/12/2022) <br />
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">What I´m going to do</div>
            - Showing a view when shift not found;<br/>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Already done </div>
        <div class="overF">
            - Changed Index, Create, Edit, Details and Delete layout for Shift class; (13/12/2022)->(14/12/2022)<br />
            - Implementing Search; (03/12/2022)->(13/12/2022)<br />
            - Implementing Pagination; (04/12/2022->(13/12/2022)<br />
            - Added seedData for Shift and ShitType classes; (10/12/2022)->(10/12/2022)<br />
            - Created relationship between Shift and ShiftType classes; (10/12/2022)->(10/12/2022)<br />
            - Created ShiftType class; (10/12/2022)->(10/12/2022)<br />
            - Updated group Class Diagram; (07/12/2022)->(07/12/2022)<br />
            - Done scaffolding for Shift class; (07/12/2022)->(07/12/2022)<br />
            - Creating success notification´s when we Create, Delete and Edit a Assigment; (02/12/2022)->(04/12/2022)<br/>
            - Order data assigment´s based on LimitDate; (03/12/2022)->(03/12/2022)<br/>
            - Changed Index,Create,Edit and Delete layout; (02/12/2022)->(03/12/2022)<br/>
            - Used the Create function on Assigmnent DB; (25/11/2022)->(27/11/2022)<br />
            - Done scaffolding for Assigment class; (25/11/2022)->(26/11/2022)<br />
            - Changed the layout of diagrams display; (25/11/2022)->(26/11/2022)<br />
            - Created hiperlink for each group member; (25/11/2022)->(25/11/2022)<br />
            - Adding Assigment class;(25/11/2022)->(25/11/2022)<br/>
            - Changed photo size; (24/11/2022)<br />
            - Upload State Diagram; (19/11/2022)<br/>
            - Upload Updated Use Case Diagram (19/11/2022)<br />
            - Upload Updated Class Diagram; (19/11/2022)<br />
            - Changed photo and Details view name to my Student number; (18/11/2022)<br />
            - Upload Sequencial Diagram; (18/11/2022)<br />
            - Upload Class Diagram; (16/11/2022)<br />
            - Upload Student photo and resized it; (16/11/2022)<br />
            - Created group and personal page. (16/11/2022)<br />
       </div>
    </div>
  </li>
</ol>

<br />
<a class="btn btn-secondary" asp-controller="Groups" asp-action="Details" asp-route-number="6" >Group Info</a>