@{
    ViewData["Title"] = "Leonardo Carriço Marques";
}

<h1>@ViewData["Title"]</h1>

<h3>Group 7</h3>
<h3>Number: 1704008</h3>

<p><img align="right" class="img-fluid" src="~/img/students/1704008.jpg" width="80" height="80" /></p>

<h3>What I'm doing:</h3>
<h4>...</h4>

<h3>What I'm going to do:</h3>