@using CarManufactoring.ViewModels.Group1;
@using CarManufactoring.ViewModels.Group3;
@model IEnumerable<Documents>
@{
    ViewData["Title"] = "Luis Barros";
}

<style>
    .Scroll{
        overflow-y:scroll;
    }
</style>



<h1><img align="right"  class="rounded-circle" src="/img/students/1700331.jpg" >@ViewData["Title"]</h1>
<h2>Group 3</h2>
<h3>Number: 1700331</h3>


<hr>
<h4>What I'm going to do:</h4>
<ul>
<li></li>
</ul>


<h4> What I'm doing:</h4>
<ul>
    <li></li>
</ul>

<h4>What I've done so far: </h4>
<ul class="Scroll">
    <li> 27/11: Relation between classes Car and Car Configuration, Scaffolgind, Add Migration and DB Update </li>
    <li>26/11: Migration and DB Updated </li>
    <li>25/11:Scaffolding for Car and Configuration Classes</li>
    <li>8/11 to 24/11:  Group and personal view with documentation with links implemented, uploaded documents and personal photo</li>
</ul>

<hr />

<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Format</th>
            <th scope="col">Document</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            @foreach(Documents d in Model)
            {
                <tr>
                    <td scope="col">
                        <img class="img-fluid pdf-img" src="/documents/grupo1/img/pdf_logo.png">
                    </td>
                    <td scope="col">@d.Name</td>
                    <td>
                        <a href="@d.DocPath" target="_blank">
                            <img class="img-fluid" src="/documents/grupo1/img/download.png">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />

    <a class="btn btn-secondary" asp-controller="Groups" asp-action="Details" asp-route-number="3">Group Info</a>