@{
	ViewData["Title"] = "Francisco Pereira Details";
}

<h1>@ViewData["Title"]</h1>

<h3>Number: 1704082</h3>

<p><img class="img-fluid" src="/img/students/1704082.jpg" width="70" height="70" /></p>
 <p>melhorar a minha pagina, atualizar img e e resolver bug</p>
  <p>fazer tabelas e inserir dados</p>