@{
    ViewData["Title"] = "Ricardo Andrade";
}

<h1>@ViewBag.Title</h1>
<hr />
@*
    TODO: Turn these into an ul list
*@
<div>
    <div class="m-3">
        <h3>O que estou a fazer</h3>
       <ul>
           <li>Semântica de Classes: Atualizar estado do stock</li>
       </ul>
       
    </div>
    <div class="m-3">
        <h3>O que falta fazer</h3>
        <ul>
            <li>Completar a semântica de classes: Atualizar estado do stock</li>
        </ul>
    </div>

    <div class="m-3">
        <h3>O que foi feito</h3>
        <ul>
            <li>Diagrama de Atividade</li>
            <li>Diagrama de Caso de Uso</li>
            <li>Atualizar diagrama de Atividade</li>
            <li>Diagrama de sequência de Pesquisa</li>
            <li>Tabela de funcionalidades</li>
            <li>Diagrama de classes</li>
            <li>Descrição de Caso de Usos de pesquisa</li>
            <li>Atualização do Caso de Uso com casos para atualizar o estado do stock</li>
            <li>Atualizar o diagrama de classes 22/11</li>
        </ul>

    </div>


</div>
