@{
    
    ViewData["Title"] = "Guilherme Alves Details";
}

<h1><img align="right" class="img" src="~/documents/Group3/GuilhermeAlves/GuilhermeAlves.jpg" width="100" height="100" \>@ViewData["Title"]</h1>
<h2>Group 3</h2>


<hr>

<h4> What I'm doing:</h4><p>Resizing photo, put the documentation in a group's specific folder </p>

<h4>What I'm going to do:</h4><p>Put information in my personal view </p>

<hr />

<a class="btn btn-info">Personal documentation</a>

<a class="btn btn-secondary" asp-controller="Groups" asp-action="Group3Details">Group Info</a>