@{
    
    ViewData["Title"] = "Guilherme Alves Details";
}

<h1>@ViewBag.Title</h1>
<h1><img align="right" class="img" src="~/documents/Group3/GuilhermeAlves/GuilhermeAlves.jpg" width="50" height="50" \></h1>
<hr />


<h2>Group 3</h2>


<h4> What I'm doing:</h4>

<p>Resizing photo, put the documentation in a group's specific folder </p>

<h4>What I'm going to do:</h4>

<p>Put information in my personal view </p>