@{
    ViewData["Title"] = "Students information";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>            
            <th scope="col">Group</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>
                <a class="btn btn-info">Details</a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="" alt="Foto"/>
            </td>
            <td>Ricardo Dias Andrade</td>
            <td>1705258</td>
            <td>2</td>
            <td>
                <a asp-action ="RicardoAndradeDetails" class="btn btn-info">Details</a>
            </td>
        </tr>
    </tbody>
</table>