@{
    ViewData["Title"] = "Students information";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>            
            <th scope="col">Group</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img class="img-fluid" src="/documents/Grupo3/RodrigoLourenco/Rodrigo.jpg" width="7%" height="7%" /></td>
            <td>Rodrigo Luís Santos Lourenço</td>
            <td>1700254</td>
            <td>3</td>
            <td>
                <a class="btn btn-info">Details</a>
            </td>
        </tr>
    </tbody>
</table>