@{
    ViewData["Title"] = "Students information";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>            
            <th scope="col">Group</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img class="img-fluid" src="/documents/Group6/AnaVidal/AnaVidal.JPEG" width="100" height="200" /></td>
            <td>Ana Raquel Neves Vidal</td>
            <td>1704182</td>
            <td>6</td>
            <a asp-action="Index"  class="btn btn-info"> Details</a>
        </tr>
        <tr>
            <td><img class="img-fluid" src="/documents/Group6/JoaoAleixo/Aleixo.png" width="10%" height="10%"/></td>
            <td>João Saraiva Aleixo</td> 
            <td>1704473</td>
            <td>6</td>
            <td>
                <a asp-controller="DetailsJoaoAleixo" asp-action="Index"  class="btn btn-info"> Details</a>
            </td>
        </tr>
        <tr>
            <td><img class="img" src="documents/Group3/LuisBarros/LuisBarros.png" width="50" height="50"/> </td>
            <td>Luis Antonio Pinto de Barros</td>
            <td>1700331</td>
            <td>3</td>
            <td>
                <a asp-action="Index"  class="btn btn-info"> Details</a>
            </td>
        </tr>
        <tr>
            <td>
                <img class="img-fluid h-25 w-25" src="documents/grupo1/tomas_esteves/tomas_esteves.jpg" />
            </td>
            <td class="pt-5">Tomás de Sousa Esteves</td>
            <td class="pt-5">1704696</td>
            <td class="pt-5">Grupo 1</td>
            <td class="pt-5">
                <a  asp-action="TomasEstevesDetails" class="btn btn-info">Details</a>
            </td>
        </tr>
        <tr>
            <td>
                <img class="img-fluid h-25 w-25" src="documents/grupo1/Paulo_Proenca/PauloProenca.jpeg" />
            </td>
            <td class="pt-5">Paulo Jorge Mendes Proença</td>
            <td class="pt-5">1704890</td>
            <td class="pt-5">Grupo 1</td>
            <td class="pt-5">
                <a asp-action="PauloProencaDetails" class="btn btn-info">Details</a>
            </td>
        </tr>
        <tr>
            <td><img class="img" src="documents/Group3/RodrigoLourenco/Rodrigo.jpg" width="50" height="50" /> </td>
            <td>Rodrigo Luis Santos Lourenço</td>
            <td>1700254</td>
            <td>3</td>
            <td>
                <a class="btn btn-info">Details</a>
            </td>
        </tr>
        <tr>
            <td><img class="img" src="documents/Group3/GuilhermeAlves/GuilhermeAlves.jpg" width="50" height="50" /> </td>
            <td>Guilherme Alves</td>
            <td>1701480</td>
            <td>3</td>
            <td>
                <a class="btn btn-info">Details</a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="documents/grupo5/Ricardo_Sousa/Ricardo_Sousa.jpg" width="70" height="70" />
            </td>
            <td>
                Ricardo Sousa
            </td>
            <td>
                1705109
            </td>
            <td>
                5
            </td>
            <td>
                <a asp-action="RicardoSousaDetails" class="btn btn-info">Details</a>
            </td>
        </tr>
        <tr>
            <tr>
            <td>
                <img src="documents/grupo5/Rui_Condesso/Rui_Condesso.jpg" width="70" height="70" />
            </td>
            <td>
                Rui Condesso
            </td>
            <td>
                1701429
            </td>
            <td>
                5
            </td>
            <td>
                <a asp-action="RuiCondessoDetails" class="btn btn-info">Details</a>
            </td>
        </tr>
        <tr>
    </tbody>
</table>
