@{
    ViewData["Title"] = "João Aleixo Information";
}

<h1>@ViewData["Title"]</h1>
<img class="img-fluid" src="/documents/Group6/JoaoAleixo/Aleixo.png" width="400" height="600" />
<p>student number: 1704473</p>
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Details Group 6</div>
      Added the Group6 folder, with a JoaoAleixo folder, where are the
      diagrams about our work
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Views to see the information</div>
      Added a view about my personal information
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Adicionar o Url da Imagem, recortar a imagem para o tamanho 400 x 600</div>
      ...
    </div>
  </li>
</ol>