@model CarManufactoring.Models.ModelParts

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ModelParts</h4>
<hr />
<div>
    <form asp-action="Create" class="row g-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-auto">
            <label asp-for="PecaId" class="control-label"></label>
            <input asp-for="PecaId" class="form-control" />
            <span asp-validation-for="PecaId" class="text-danger"></span>
        </div>
        <div class="col-auto">
            <label asp-for="ModeloId" class="control-label"></label>
            <input asp-for="ModeloId" class="form-control" />
            <span asp-validation-for="ModeloId" class="text-danger"></span>
        </div>
        <div class="col-auto">
            <label asp-for="QtdPecas" class="control-label"></label>
            <input asp-for="QtdPecas" class="form-control" />
            <span asp-validation-for="QtdPecas" class="text-danger"></span>
        </div>
        <div class="col-auto">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
