@model CarManufactoring.Models.Assigment

@{
    ViewData["Title"] = "Delete Assigment";
}

<h2>@ViewBag.Title</h2>

<h4>Are you sure you want to delete this Assigment?</h4>

@{
    await Html.RenderPartialAsync("_AssigmentDetails", Model);
}
    
<form asp-action="Delete">
    <input type="hidden" asp-for="AssigmentId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> 
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
