@model CarManufactoring.Models.Gender

@{
    ViewData["Title"] = "Delete Gender";
}

<h2>@ViewBag.title</h2>

<h3>Are you sure you want to delete this?</h3>

@{
    await Html.RenderPartialAsync("_GenderDetails", Model);
}
    
<form asp-action="Delete">
    <input type="hidden" asp-for="GenderId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

