@{
    ViewData["Title"] = "Group 7 details";
}
<h1>@ViewBag.Title</h1>

<h3>Descrição:</h3>
<h4>Gestão de semi-acabados/subprodutos</h4>

<div>
    <div>
        <h3>Diagrama de Atividades:</h3>
        <img src="~\documents\Grupo7\Atividades.png" class="figure-img img-fluid rounded" />
    </div>
    <div>
        <h3>Diagrama Relacional:</h3>
        <img src="~\documents\Grupo7\Relacional.png" class="figure-img img-fluid rounded" />
    </div>
    <div>
        <h3>Diagrama de Caso de Uso:</h3>
        <img src="~\documents\Grupo7\Caso de Uso.png" class="figure-img img-fluid rounded" />
    </div>
</div>
