@{
    ViewData["Title"] = "Group 9 Details";
}
<h1>
    @ViewBag.Title
</h1>

<br />

<p><strong>Members:</strong> Fábio Abreu and Telmo Morais</p>
<br />

<p><strong>Theme:</strong> Inspection and testing of semi-finished products </p>
<br />

<h5> Documentation: </h5>
<br />

<p>Diagrama Atividade</p>
<img src="/documents/Group9/GroupDocumentation/Diagrama_Atividades.jpg" />
<br />

<p class="mt-5">Diagrama Class</p>
<img src="/documents/Group9/GroupDocumentation/Diagrama_Classes.png"  />
<br />

<p class="mt-5">Diagrama Casos de Uso</p>
<img src="/documents/Group9/GroupDocumentation/Diagrama_Casos_Uso.jpg" />
