@using CarManufactoring.ViewModels.Group1;
@model IEnumerable<Documents>
    @{
    ViewData["Title"] = "Group 1 Details";
}

<div class= "container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1>
                @ViewBag.Title
            </h1>
            <hr />
            <h3>
                <span class="fw-bold">Tema:</span> Gestão de máquinas/recursos para a produção
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
           <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Formato</th>
                    <th scope="col">Documento</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(Documents d in Model){
           
                    <tr>
                           <td scope="col">
                                <img class="img-fluid pdf-img" src="/documents/grupo1/img/pdf_logo.png">
                            </td>
                            <td scope="col">@d.Name</td>
                            <td>
                                <a href="@d.DocPath" target="_blank">
                                    <img class="img-fluid " src="/documents/grupo1/img/download.png">
                                </a>
                            </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    
</div>

