@{
    ViewData["Title"] = "Group 5 details";
}
<h1>@ViewBag.Title</h1>
<p>O nosso grupo é responsável por efetuar o planeamento da produção com base nas encomendas</p>
<div class="figure">
    <img src="/documents/grupo5/Ricardo_Sousa/Diagrama_atividades.jpg" class="figure-img img-fluid rounded" />
    <div class="figure-caption">Diagrama de atividades</div>
</div>
