@{
    ViewData["Title"] = "Group 7 details";
}
<h1>@ViewBag.Title</h1>

<h3>Descrição:</h3>
<h4>Gestão de semi-acabados/subprodutos</h4>

<div>
    <div>
        <h3>Diagrama de Atividades:</h3>
        <img src="\documents\Grupo7\Atividades.jpg" class="figure-img img-fluid rounded" />
    </div>
    <div>
        <h3>Diagrama Relacional:</h3>
        <img src="\documents\Grupo7\Relacional.jpg" class="figure-img img-fluid rounded" />
    </div>
    <div>
        <h3>Diagrama de Caso de Uso:</h3>
        <a><img src="\documents\Grupo7\CasoUso.jpg" class="figure-img img-fluid rounded" /></a>
    </div>
</div>
