@{
    ViewData["Title"] = "Group 10 ";
}
<h1>@ViewBag.Title</h1>

<h3>Title</h3>
<h4>Scheduling of People For the Production Line of a Car Factory</h4>
<br />
<div>
    <div>
        <h3>Use Case</h3>
        <img src="~/documents/Grup10/GrupDocuments/UseCaseOrtak.png" class="figure-img img-fluid rounded" />
    </div>
    <br />
    <div>
        <h3>Class Diagram:</h3>
        <img src="~/documents/Grup10/GrupDocuments/class.jpg" class="figure-img img-fluid rounded" />
    </div>
    <br />
    <div>
        <h3>State Diagram(Osman Can Ofraz)</h3>
        <a><img src="~/documents/Grup10/OsmanCanOfraz/durum diagramı.PNG" class="figure-img img-fluid rounded" /></a>
    </div>
    <br />
    <div>
        <h3>Sequence Diagram(Osman Can Ofraz)</h3>
        <a><img src="~/documents/Grup10/OsmanCanOfraz/sıra diagramı.PNG" class="figure-img img-fluid rounded" /></a>
    </div>
     <br />
    <div>
        <h3>Use Case(Osman Can Ofraz)</h3>
        <a><img src="~/documents/Grup10/OsmanCanOfraz/usecase.png"figure-img img-fluid rounded" /></a>
    </div>
      <br />
    <div>
        <h3>Scheuduling Work Table(Osman Can Ofraz)</h3>
        <a><img src="~/documents/Grup10/OsmanCanOfraz/Scheuduling work table.PNG"figure-img img-fluid rounded" /></a>
    </div>
       <br />
    <div>
        <h3>User Story(Osman Can Ofraz)</h3>
        <a><img src="~/documents/Grup10/OsmanCanOfraz/table.PNG"figure-img img-fluid rounded" /></a>
    </div>
        <br />
    <div>
        <h3>Class Table(Osman Can Ofraz)</h3>
        <a><img src="~/documents/Grup10/OsmanCanOfraz/tabledevam.PNG"figure-img img-fluid rounded" /></a>
    </div>
   <br />
    <div>
        <h3>Test(Mahmut Aran):</h3>
        <a><img src="~/documents/Grup10/MahmutAran/MahmutTest.PNG" class="figure-img img-fluid rounded" /></a>
    </div>
   <br />
    <div>
        <h3>Use Story(Mahmut Aran)</h3>
        <a><img src="~/documents/Grup10/MahmutAran/MahmutUserStory.PNG" class="figure-img img-fluid rounded" /></a>
    </div>
   <br />
    <div>
        <h3>Sequence Diagram(Mahmut Aran)</h3>
        <a><img src="~/documents/Grup10/MahmutAran/SequenceMahmut.png" class="figure-img img-fluid rounded" /></a>
    </div>
   <br />
    <div>
        <h3>Use Case(Mahmut Aran)</h3>
        <a><img src="~/documents/Grup10/MahmutAran/UseCaseMahmut1.PNG" class="figure-img img-fluid rounded" /></a>
    </div>
   <br />
    <div>
        <h3>Use Case(Mahmut Aran)</h3>
        <a><img src="~/documents/Grup10/MahmutAran/UseCaseMahmut.png" class="figure-img img-fluid rounded" /></a>
    </div>



</div>
