@{

    ViewData["Title"] = "Group 5 details";
}
<h1>@ViewBag.Title</h1>
<p>O nosso grupo é responsável por efetuar o planeamento da produção com base nas encomendas</p>




<h1>
    <a asp-controller="Students" asp-action="Details" asp-route-number="1705109"><img align="right" class="img" src="~/img/students/1705109.jpg" width="10%" height="10%"></a>
    <a asp-controller="Students" asp-action="Details" asp-route-number="1701429"> <img align="right" class="img" src="~/img/students/1701429.jpg" width="10%" height="10%"></a>
    <a asp-controller="Students" asp-action="Details" asp-route-number="1700789"><img align="right" class="img" src="~/img/students/1700789.jpg" width="10%" height="10%"></a>
</h1>
<h2> Ricardo Sousa, Rui Condesso,Pedro Matos </h2>


<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Documento</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Diagrama de atividades
                </td>
                <td>
                    <a href="/documents/grupo5/Ricardo_Sousa/Diagrama_atividades.jpg" target="_blank">Link</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

