@using CarManufactoring.ViewModels.Group1;
@using CarManufactoring.ViewModels.Group3;
@model IEnumerable<Documents>

@{
    ViewData["Title"] = "Group 3";
}

<style>
    img{
        padding-left: 10px;
    }
</style>


<h1><img align="right" class="img" src="~/img/students/1700331.jpg" width="100" height="100" \>
    <img align="right" class="img" src="~/img/students/1701480.jpg" width="100" height="100" \>
<img align="right" class="img" src="~/documents/Group3/RodrigoLourenco/eu.png" width="100" height="100" \>@ViewData["Title"] | Client's Sales

</h1>
<h3>Luís Barros, Rodrigo Lourenço, Guilherme Alves</h3>

<hr>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Format</th>
                <th scope="col">Document</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Documents d in Model)
            {
                <tr>
                    <td scope="col">
                        <img class="img-fluid pdf-img" src="/documents/grupo1/img/pdf_logo.png">
                    </td>
                    <td scope="col">@d.Name</td>
                    <td>
                        <a href="@d.DocPath" target="_blank">
                            <img class="img-fluid" src="/documents/grupo1/img/download.png">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

