@{
    ViewData["Title"] = "Grupo 2";
}

<h1>@ViewBag.Title</h1>
<h3>Ricardo Andrade, Bruno Martins, Filipe Santos</h3>
<hr />
<div>
    <p>
        O nosso trabalho consiste no interface para a compra de peças e/ou matérias-primas a um fornecedor e os critérios de compra de peças.
    </p>
    <div class="m-3">
        <h2>Diagrama de Atividade</h2>
        <a href="~/documents/Grupo2/RicardoAndrade/pdfs/DiagramaAtividade_Proj_CompraAoFornecedor_v2_RicardoAndrade_1705258.pdf" target="_blank">
            <img src="~/documents/Grupo2/RicardoAndrade/DiagramaAtividade_Proj_CompraAoFornecedor_v2_RicardoAndrade_1705258.png" width=50% height=50% alt="Diagrama de Atividade" />
        </a>
    </div>
    <br />
    <div class="m-3">
        <h2>Casos de Uso</h2>
        <a href="~/documents/Grupo2/RicardoAndrade/pdfs/CasoDeUso_CompraFornecedor_RicardoAndrade_1705258.pdf" target="_blank">
            <img src="~/documents/Grupo2/RicardoAndrade/CasoDeUso_CompraFornecedor_RicardoAndrade_1705258.png" width=50% height=50% alt="Diagrama de Atividade" />
        </a>
    </div>
    <br />
    <div class="m-3">
        <h2>Descrição de Casos de Uso</h2><br />
        <h5>Pesquisa de Peça ou matéria-prima</h5>
        <a href="~/documents/Grupo2/RicardoAndrade/pdfs/DescricaoCasoUsoCompraFornecedor_Pesquisa_RicardoAndrade_1705258.pdf" target="_blank">
            <img src="~/documents/Grupo2/RicardoAndrade/DescricaoCasoUso_RicardoAndrade_1705258.png" width=50% height=50% alt="Diagrama de Atividade" />
        </a>
        
    </div>
    <br />
    <div class="m-3">
        <h2>Diagrama de Sequência de Pesquisa</h2>
        <a href="~/documents/Grupo2/RicardoAndrade/pdfs/DiagramaSequencia_CompraFornecedor_RicardoAndrade_1705258.pdf" target="_blank">
            <img src="~/documents/Grupo2/RicardoAndrade/DiagramaSequencia_CompraFornecedor_RicardoAndrade_1705258.png" width=50% height=50% alt="Diagrama de Atividade" />
        </a>
    </div>
    <br />
    <div class="m-3">
        <h2>Diagrama de Classe</h2>
        <a href="~/documents/Grupo2/RicardoAndrade/pdfs/DiagramaClasse_CompraFornecedor_RicardoAndrade_1705258.pdf" target="_blank">
            <img src="~/documents/Grupo2/RicardoAndrade/DiagramaClasse_CompraFornecedor_RicardoAndrade_1705258.png" width=50% height=50% alt="Diagrama de Atividade" />
        </a>
    </div>
    <br />
    <div class="m-3">
        <h2>Diagrama de Estados do Stock da fábrica</h2>
        <a href="~/documents/Grupo2/RicardoAndrade/pdfs/DiagramaEstados_Stock_CompraFornecedor_RicardoAndrade_1705258.pdf" target="_blank">
            <img src="~/documents/Grupo2/RicardoAndrade/DiagramaEstados_Stock_CompraFornecedor_RicardoAndrade_1705258.png" width=50% height=50% alt="Diagrama de Atividade" />
        </a>
    </div>
    <br />
    <div class="m-3">
        <h2>Semântica de Classe Armazem_Produto</h2>
        <a href="~/documents/Grupo2/RicardoAndrade/pdfs/SemanticaClasses_Conjunto_Stock_RicardoAndrade_1705258.pdf" target="_blank">
            <img src="~/documents/Grupo2/RicardoAndrade/SemanticaClasses_Conjunto_Stock_RicardoAndrade_1705258.png" width=50% height=50% alt="Diagrama de Atividade" />
        </a>
    </div>
    <br />
</div>