@{
    ViewData["Title"] = "Group 10 Details";
}
<h1>
    @ViewBag.Title
</h1>

<br />

<p><strong>Members:</strong> Osman Can Ofraz and Mahmut Aran</p>
<br />

<p><strong>Theme:</strong> Scheduling of People for the Production Line of a Car Factory </p>
<br />

<h5> Documentation: </h5>
<br />

<p>Diagrama Atividade</p>
<img src="/Documents/grupo10/img/class%20tablo.pdf" style="width:128px;height:128px;" />
<br />

<p>Diagrama Class</p>
<img src="/Documents/grupo10/img/foto.pdf" style="width:128px;height:128px;" />
<br />

<p>Diagrama Casos de Uso</p>
<img src="/Documents/grupo10/img/png2pdf.pdf" style="width:128px;height:128px;" />
