@{
    ViewData["Title"] = "Group 6";
}

<img align="right" class="img p-1" src="~/img/students/1705182.jpg" width="7%" height="7%">
<img align="right" class="img p-1" src="~/img/students/1704473.jpg" width="7%" height="7%">
<!--<img align="right" class="img m-2" src="~/img/students/mustafa.jpg" width="7%" height="7%">-->

<h1 align="left">@ViewData["Title"]</h1>
<h3 align="left">Shift Management</h3>
<p><strong>Members:</strong> Ana Vidal, João Aleixo and Mustafa Bukhari</p>

<hr/>

<h3>Our work:</h3>
<p>Consists on making an interface where we can create an assignment and then assign her to a shift, after that we sign the assignment to a 
collaborator.</p>

<br/>

<h3> Documentation: </h3>

<h5 style="text-align:center">Diagrama Atividade</h5>
<img class="img-fluid" src="/documents/Group6/AnaVidal/DiagramaAtividadeTrabalho.JPG" width="70%" height="60%" />
<h5 style="text-align:center">Diagrama Class</h5>
<img class="img-fluid" src="/documents/Group6/AnaVidal/DiagramaClass_Ana_Vidal.drawio.JPG" width="70%" height="60%" />
<h5 style="text-align:center">Descrição caso de uso</h5>
<img class="img-fluid" src="/documents/Group6/AnaVidal/DescricaoCasoUso.png" width="70%" height="60%" />
<h5 style="text-align:center">Diagrama Sequência</h5>
<img class="img-fluid" src="/documents/Group6/AnaVidal/DiagramaSequenciaTurnos.JPG" width="70%" height="60%" />

