@{
    ViewData["Title"] = "Group 7 details";
}
<h1>@ViewBag.Title</h1>
<img align="right" class="img p-1" src="~/img/students/1704082.jpg" width="10%" height="10%">
<img align="right" class="img p-1" src="~/img/students/1704033.jpg" width="10%" height="10%">
<img align="right" class="img p-1" src="~/img/students/1704008.jpg" width="10%" height="10%">


<h3>Descrição:</h3>
<h4>Gestão de semi-acabados/subprodutos</h4>
<br />
<div>
    <div>
        <h3>Diagrama de Atividades:</h3>
        <img src="\documents\Grupo7\Atividades.jpg" class="figure-img img-fluid rounded" />
    </div>
    <br />
    <div>
        <h3>Diagrama Relacional:</h3>
        <img src="\documents\Grupo7\Relacional.jpg" class="figure-img img-fluid rounded" />
    </div>
    <br />
    <div>
        <h3>Diagrama de Caso de Uso:</h3>
        <a><img src="\documents\Grupo7\CasoUso.jpg" class="figure-img img-fluid rounded" /></a>
    </div>
    <br />
    <div>
        <h3>Diagrama de estado:</h3>
        <a><img src="\documents\Grupo7\Estado.jpg" class="figure-img img-fluid rounded" /></a>
    </div>

</div>
