@{
    ViewData["Title"] = "Grupo 2";
}

<h1>@ViewBag.Title</h1>

<hr />

<p>
    O nosso trabalho consiste no interface para a compra de peças e/ou matérias-primas a um fornecedor e os critérios de compra de peças.
</p>

<h2>Diagrama de Atividade</h2>
<img src="~/documents/Grupo2/RicardoAndrade/DiagramaAtividade_Proj_CompraAoFornecedor_v2_RicardoAndrade_1705258.png" width=50% height=50% alt="Diagrama de Atividade" />

