@{
    ViewData["Title"] = "Group 1 Details";
}
<link rel="stylesheet" href="~/css/Group1.css" asp-append-version="true" />
<h1>
    @ViewBag.Title
</h1>
<div class="mt-5">
    <div class="diagramMenu text-decoration-underline">
        <h4>Diagrama De Classes</h4>
        <div class="d-flex justify-content-between">
            <ul class="list">
                <div class="mt-3">
                    <img class="img-fluid" width="95%" src="~/documents/grupo1//Diagramas/Diagrama_Classes_Projeto_Grupo_v2.jpg" />
                </div>
            </ul>
        </div>
    </div>
</div>


