@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Diagrama Atividade</h1>
<img class="img-fluid" src="/documents/Group6/AnaVidal/DiagramaAtividadeTrabalho.JPG" width="70%" height="60%" />
<h1>Diagrama Class</h1>
<img class="img-fluid" src="/documents/Group6/AnaVidal/DiagramaClass_Ana_Vidal.drawio.JPG" width="70%" height="60%" />
<h1>Descrição caso de uso</h1>
<img class="img-fluid" src="/documents/Group6/AnaVidal/DescricaoCasoUso.png" width="70%" height="60%" />
<h1>Diagrama Sequência</h1>
<img class="img-fluid" src="/documents/Group6/AnaVidal/DiagramaSequenciaTurnos.JPG" width="70%" height="60%" />

