@{
    ViewData["Title"] = "Grupo 2";
}

<h1>@ViewBag.Title</h1>

<hr />

<p>
    O nosso trabalho consiste no interface para a compra de peças e/ou matérias-primas a um fornecedor.
</p>

<p>Diagrama de Atividade</p>
<img src="~/documents/Grupo2/RicardoAndrade/DiagramaAtividade_Proj_CompraAoFornecedor_v2_RicardoAndrade_1705258.png" alt="Diagrama de Atividade" />

