@model CarManufactoring.Models.CarConfig

@{
    ViewData["Title"] = "Create";
}

<style>
    .butt {
        padding-top: 10px;
    }
</style>


<h1>@ViewBag.Title</h1>

<h4>Car Configuration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ConfigName" class="control-label"></label>
                <input asp-for="ConfigName" class="form-control" />
                <span asp-validation-for="ConfigName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumExtras" class="control-label"></label>
                <input asp-for="NumExtras" class="form-control" />
                <span asp-validation-for="NumExtras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedPrice" class="control-label">Added Price (€)</label>
                <input asp-for="AddedPrice" class="form-control" />
                <span asp-validation-for="AddedPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalPrice" class="control-label">Final Price (€)</label>
                <input asp-for="FinalPrice" class="form-control"  />
                <span asp-validation-for="FinalPrice" class="text-danger"></span>
            </div>
            <div class="form-group butt">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
