@model CarManufactoring.Models.SemiFinishedCar

@{
    ViewData["Title"] = "Delete Relation";
}

<h1>@ViewBag.Title</h1>

<h3 class="text-danger">Are you sure you want to delete this relation?</h3>
<hr />

@{
    await Html.RenderPartialAsync("SemiFinishedCarDetails", Model);
}

<form asp-action="Delete">
    <input type="hidden" asp-for="SemiFinishedId" />
    <input type="hidden" asp-for="CarId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Details" asp-route-id="@Model.SemiFinishedCarsId" class="btn btn-secondary">Cancel</a>
</form>
 