@model CarManufactoring.Models.TaskType

@{
    ViewData["Title"] = "Delete Task Type";
}

<h2>@ViewBag.title</h2>

<h3>Are you sure you want to delete this?</h3>

@{
    await Html.RenderPartialAsync("_TaskTypeDetails", Model);
}

<form asp-action="Delete">
    <input type="hidden" asp-for="TaskTypeId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>