@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="mt-5">
    <div class="mb-4">
        <a asp-controller="SemiFinisheds" asp-action="Index" class="btn btn-secondary">SemiFinisheds</a>
        <a asp-controller="SemiFinishedCars" asp-action="Index" class="btn btn-secondary">SemiFinisheds - Cars</a>
        <a asp-controller="Shifts" asp-action="Index" class="btn btn-secondary">Shifts</a>
        <a asp-controller="ShiftTypes" asp-action="Index" class="btn btn-secondary">Shift Type</a>

    </div>

    <a asp-controller="Materials" asp-action="Index" class="btn btn-secondary">Materials</a>
    <a asp-controller="InspectionAndTests" asp-action="Index" class="btn btn-secondary">Inspections/Tests</a>
    <a asp-controller="Collaborators" asp-action="Index" class="btn btn-danger">Collaborators-Dev</a>

    <div class="mt-4">
        <a asp-controller="SupplierParts" asp-action="Index" class="btn btn-secondary">Suppliers-Parts</a>
    </div>
    <div class="mt-4">
        <a asp-controller="Breakdowns" asp-action="Index" class="btn btn-secondary">Breakdowns</a>
    </div>
    <div class="mt-4">
        <a asp-controller="Suppliers" asp-action="Index" class="btn btn-secondary">Supplier</a>
    </div>

</div>

