@{
    ViewData["Title"] = "To do";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>Create group page with actual information!!!</li>
    <li>Create student page with actual information (what I'm doing / what I'm going to do)!!!</li>
    <li>Resize photos to width:400px height:600px</li>
</ul>
