@model CarManufactoring.Models.Shift

@{
    ViewData["Title"] = "Delete Shift";
}

<h2>@ViewBag.Title</h2>

    @if(ViewBag.NumberCarCarConfigs > 0)
    {
            await Html.RenderPartialAsync("_AlertProblem", new AlertProblemViewModel {
                        CssClass = "alert-warning",
                        Title = "The car cannot be deleted",
                        Description = $"This car cannot be deleted since it has already {ViewBag.NumberCarCarConfigs} configurations associated. In order to delete the car first you must delete his configurations."
                    });
    }
    else
    {
                await Html.RenderPartialAsync("_AlertProblem", new AlertProblemViewModel
                    {
                        CssClass = "alert-danger",
                        Title = "Caution ",
                        Description = @ViewBag.Error
                    });
    }

@{
    await Html.RenderPartialAsync("_ShiftDetails", Model);
}

<form asp-action="Delete">
    <input type="hidden" asp-for="ShiftId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
