body {
}


.diagramMenu:hover .list {
   max-height:fit-content;  
}

.diagramMenu .list {
    max-height: 0px;
    overflow: hidden;
    transition: ease-in;
}

.personalList{
    font-size:large;
    color:cornflowerblue;
}




