@model CarManufactoring.Models.Function

@{
    ViewData["Title"] = "Delete Function";
}

<h2>@ViewBag.Title</h2>

<h4 class="mb-3">Are you sure you want to delete this Function?</h4>

@{
    await Html.RenderPartialAsync("_FunctionDetails", Model);
}
   
<form asp-action="Delete">
    <input type="hidden" asp-for="FunctionId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

