@model CarManufactoring.Models.Machines

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Machines</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MachinesId" />
            <div class="form-group">
                <label asp-for="MachineBrand" class="control-label"></label>
                <input asp-for="MachineBrand" class="form-control" />
                <span asp-validation-for="MachineBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineModel" class="control-label"></label>
                <input asp-for="MachineModel" class="form-control" />
                <span asp-validation-for="MachineModel" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Available" /> @Html.DisplayNameFor(model => model.Available)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AquisitionDate" class="control-label"></label>
                <input asp-for="AquisitionDate" class="form-control" />
                <span asp-validation-for="AquisitionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineStateId" class="control-label"></label>
                <select asp-for="MachineStateId" class="form-control" asp-items="ViewBag.MachineStateId"></select>
                <span asp-validation-for="MachineStateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionId" class="control-label"></label>
                <select asp-for="SectionId" class="form-control" asp-items="ViewBag.SectionId"></select>
                <span asp-validation-for="SectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
