@model CarManufactoring.Models.SupplierParts

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<link rel="stylesheet" href="~/css/SupplierLogo.css">

<h3>Are you sure you want to delete this?</h3>
<div>

    @{
        await Html.RenderPartialAsync("_SupplierPartsDetails", Model);
    }
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SupplierPartsId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
