@model CarManufactoring.Models.MachineAquisition

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MachineAquisition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MachineAquisitionName" class="control-label"></label>
                <input asp-for="MachineAquisitionName" class="form-control" />
                <span asp-validation-for="MachineAquisitionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityOfParts" class="control-label"></label>
                <input id="QuantityOfParts" asp-for="QuantityOfParts" class="form-control" />
                <span asp-validation-for="QuantityOfParts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextLevel" class="control-label"></label>
                <input id="NextLevel" asp-for="NextLevel" class="form-control" onblur="viabilidade()" />
                <span asp-validation-for="NextLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenancePrice" class="control-label"></label>
                <input asp-for="MaintenancePrice" class="form-control" />
                <span asp-validation-for="MaintenancePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineId" class="control-label"></label>
                <select asp-for="MachineId" class ="form-control" asp-items="ViewBag.MachineId"></select>
            </div>
            <div class="form-group">
                <input id="botao" type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    function viabilidade(){
            var QuantityOfParts = parseInt(document.getElementById('QuantityOfParts').value);
            var NextLevel = parseInt(document.getElementById('NextLevel').value);

            if (QuantityOfParts > NextLevel) {
                document.getElementById("botao").disabled = true;
                alert("Devido a viabilidade, não é possível inserir uma quantidade de peças maior que a capacidade da próxima máquina.");
            }
            else{
                document.getElementById("botao").disabled = false;
            }
    }
        

</script>
