@model CarManufactoring.Models.InspectionAndTest

@{
    ViewData["Title"] = "Create Test";
}

<h1>@ViewBag.Title</h1>

<h4>Inspection And Test</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductionsId" class="control-label">Production</label>
                <select asp-for="ProductionsId" class="form-control" asp-items="ViewBag.ProductionsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="QuantityTested" class="control-label">Quantity Tested</label>
                <input asp-for="QuantityTested" class="form-control" />
                <span asp-validation-for="QuantityTested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label">State</label>
                <select asp-for="StateId" class ="form-control" asp-items="ViewBag.StateId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Date</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollaboratorId" class="control-label">Collaborator</label>
                <select asp-for="CollaboratorId" class ="form-control" asp-items="ViewBag.CollaboratorId"></select>
            </div>
            <div class="form-group mt-1">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
