@model CarManufactoring.Models.MachineMaintenance

@{
    ViewData["Title"] = "Delete Machine Maintenance";
}

<h2>@ViewBag.Title</h2>

<h4 class="mb-3">Are you sure you want to delete this Machine Maintenance?</h4>

@{
    await Html.RenderPartialAsync("_MachineMaintenanceDetails", Model);
}

    
<form asp-action="Delete">
    <input type="hidden" asp-for="MachineMaintenanceId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>