@model CarManufactoring.Models.Brand

<hr />

@if (ViewBag.NumberCarBrands > 0)
{
    await Html.RenderPartialAsync("_AlertProblem", new AlertProblemViewModel {
                    CssClass = "alert-warning",
                    Title = "The brand cannot be deleted",
                    Description = $"This brand  cannot be deleted since it has already {ViewBag.NumberCarBrands} cars associated. In order to delete the brand first you must delete his cars."
                });
}else
{
    await Html.RenderPartialAsync("_AlertProblem", new AlertProblemViewModel
                {
                    CssClass = "alert-danger",
                    Title = "Caution ",
                    Description = @ViewBag.Error
                });
}
<div>
    <hr />
    @{
        await Html.RenderPartialAsync("_BrandDetails", Model);
    }
    
    @if(ViewBag.NumberCarBrands == 0)
    {
        <form asp-action="Delete">
        <input type="hidden" asp-for="BrandId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    }else
    {
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    }

</div>
