@model CarManufactoring.Models.Brand

<hr />
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-danger" role="alert">

        <h1 class="text-danger">
            Are you sure you want to delete all the information related to this brand ?
        </h1>

        <p>
            @ViewBag.SuccessMessage
        </p>
    </div>
}
<div>
    <hr />
    @{
        await Html.RenderPartialAsync("_BrandDetails", Model);
    }
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BrandId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
