@{
    ViewData["Title"] = "Car Configuration not found";
}

<h1>@ViewBag.Title</h1>
<hr />

@{
    await Html.RenderPartialAsync("_AlertProblem",
             new AlertProblemViewModel
                     {
                         CssClass = "alert-warning",
                         Title = "It was not possible to retrive the car ",
                         Description = "Car  not found. Maybe it was deleted by another user."
                     });
}

<a asp-action="Index" class="btn btn-secondary">Cars List</a>