@model CarManufactoring.Models.Car

<hr />

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-danger" role="alert">
  
        <h1 class="text-danger">
            Are you sure you want to delete all the information related to this car ? 
        </h1>

        <p>
            @ViewBag.SuccessMessage
        </p>
    </div>
}
<div>
    <hr />

    @{
        await Html.RenderPartialAsync("_CarDetails", Model);
    }

    <form asp-action="Delete">
        <input type="hidden" asp-for="CarId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
