@model IEnumerable<CarManufactoring.Models.MachineBudget>

@{
    ViewData["Title"] = "Comparison";
}

<h1>Comparison</h1>
<h2>The Best Machine Quote Found</h2>



<p>
    Price: @ViewBag.price
    Deadline: @ViewBag.deadline
</p>

